

/* Tiles 전체 */

.tiles-all {
    display: flex;
    flex-direction: column;
    height : 100%;
}

/* Tiles 왼쪽 영역 (네비) */

.sb-nav-fixed {
    height : 100%;
}

#layoutSidenav_nav {
    height : 100%;
    overflow: hidden;
    max-width : 200px;
}

.tiles-middle {
    flex: 1;
    display: flex;
}

.tiles-middle .sb-sidenav-footer {
    margin-bottom : auto;
}

#layoutSidenav_nav .sb-sidenav-footer {
     min-width: 135px;
}

#layoutSidenav_nav #collapseLayouts {
    min-width: 155px;
}

#layoutSidenav_nav .sb-sidenav-menu-nested{
    min-width: 126px;
}

/* Tiles 오른쪽 영역 (메인) */
.tiles-main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding : 30px 10px 0px 10px;
}
